@import "tailwindcss";
@import "tw-animate-css";

:root {
  --Blacky: ;
  --BlackyFade1: ;
  --BlackyFade2: ;
  --Whitey: ;
  --WhiteyFade1: ;
  --WhiteyFade2: ;
  --Prime: ;
  --PrimeFade1: ;
  --PrimeFade2: ;
  --Secound: ;
  --SecoundFade1: ;
  --SecoundFade2: ;
  --Assend: ;
  --AssendFade1: ;
  --AssendFade2: ;
  --textColor: ;
}

@theme inline {
  /* breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  /* colors */
  --color-Blacky: var(--Blacky);
  --color-BlackyFade1: var(--BlackyFade1);
  --color-BlackyFade2: var(--BlackyFade2);
  --color-Whitey: var(--Whitey);
  --color-WhiteyFade1: var(--WhiteyFade1);
  --color-WhiteyFade2: var(--WhiteyFade2);
  --color-Prime: var(--Prime);
  --color-PrimeFade1: var(--PrimeFade1);
  --color-PrimeFade2: var(--PrimeFade2);
  --color-Secound: var(--Secound);
  --color-SecoundFade1: var(--SecoundFade1);
  --color-SecoundFade2: var(--SecoundFade2);
  --color-Assend: var(--Assend);
  --color-AssendFade1: var(--AssendFade1);
  --color-AssendFade2: var(--AssendFade2);
}

body {
  background: var(--Blacky);
  color: var(--textColor);
  font-family: var(--font-Second);
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  user-select: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Prime);
  font-weight: bolder;
  letter-spacing: 2.5px;
}
.strokeWhitey {
  -webkit-text-stroke: 0.125px var(--Whitey);
  -moz-text-stroke: 0.125px var(--Whitey);
}
.strokeBlacky {
  -webkit-text-stroke: 0.125px var(--Blacky);
  -moz-text-stroke: 0.125px var(--Blacky);
}
.strokeSecound {
  -webkit-text-stroke: 0.125px var(--Secound);
  -moz-text-stroke: 0.125px var(--Secound);
}
.strokeAssend {
  -webkit-text-stroke: 0.125px var(--Assend);
  -moz-text-stroke: 0.125px var(--Assend);
}
.strokePrime {
  -webkit-text-stroke: 0.125px var(--Prime);
  -moz-text-stroke: 0.125px var(--Prime);
}

.Bigshadow {
  text-shadow: 0 0 10px var(--Blacky), 0 0 20px var(--Blacky),
    0 0 30px var(--Blacky), 0 0 40px var(--Blacky);
}
.Whiteyshadow {
  text-shadow: 0 0 10px var(--WhiteyFade), 0 0 20px var(--WhiteyFade),
    0 0 30px var(--WhiteyFade), 0 0 40px var(--WhiteyFade),
    0 0 40px var(--WhiteyFade), 0 0 50px var(--WhiteyFade);
}
.GlueSecound {
  text-shadow: 0 0 10px var(--Secound), 0 0 20px var(--Secound),
    0 0 30px var(--Secound);
}
.GluePrime {
  text-shadow: 0 0 10px var(--Prime), 0 0 20px var(--Prime),
    0 0 30px var(--Prime), 0 0 40px var(--Prime), 0 0 40px var(--Prime);
}
.GlueAssend {
  text-shadow: 0 0 10px var(--Assend), 0 0 20px var(--Assend);
}

.Masked {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    var(--Blacky) 20%,
    var(--Blacky) 80%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    var(--Blacky) 20%,
    var(--Blacky) 80%,
    transparent
  );
}

.Flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}
